<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><img src="assets/img/logo_Shelfalytics.png"></a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="search">
    <daterangepicker [params]="daterangeParams" (dateChanged)="dateChangedHandler($event)"></daterangepicker>
     <!-- <select [(ngModel)]="currentLanguage" (change)="changeLanguage(currentLanguage)" class="form-control">
      <option value="en">English</option>
      <option value="ru">Русский</option>
    </select>  -->

  </div>

  <div class="user-profile clearfix">

    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img src="{{ ( 'Nasta' | baProfilePicture ) }}">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>
        <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li class="dropdown-item"><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <div class="dropdown mt-1 mr-3 " style="float:right;">
  <button class="btn btn-default dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    English
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li class="dropdown-item" href="#"><a href="#">Russian</a></li>
    <li class="dropdown-item" href="#"><a href="#">Romanian</a></li>
  </ul>
</div>
    <!-- <ba-msg-center></ba-msg-center> -->
  </div>
</div>
