<div class="row">
  <div class="col-md-2">
    <button class="btn btn-primary mb-3" routerLink="/pages/points-of-sale">Back</button>
  </div>

</div>
<div *ngIf="initFlag">
  <div class="row">
    <ba-card class="col-md-4 d-flex align-items-stretch text-center">
      <p><i class="fa fa-map-marker"></i><span translate>{{'pointsOfSale.posInfo.posName'}}</span>:</p>
      <h2>{{posData.PointOfSaleName}}</h2>
    </ba-card>
    <ba-card class="col-md-4 d-flex align-items-stretch text-center">
      <p><i class="fa fa-map"></i><span translate>{{'pointsOfSale.posInfo.posAddress'}}</span>:</p>
          <h2> {{posData.PointOfSaleAddress}}</h2>
    </ba-card>
    <ba-card class="col-md-4 d-flex align-items-stretch text-center">
      <p><i class="fa fa-phone"></i><span translate>{{'pointsOfSale.posInfo.posTelephone'}}</span>:</p>
        <h2> {{posData.PointOfSaleTelephone}}</h2>
    </ba-card>
    <ba-card class="col-md-6 d-flex align-items-stretch text-center">
      <p><i class="fa fa-user-o"></i><span translate>{{'pointsOfSale.posInfo.contactPersonName'}}</span>:</p>
        <h2> {{posData.ContactPersonName}}</h2>
    </ba-card>
    <ba-card class="col-md-6 d-flex align-items-stretch text-center">
      <p><i class="fa fa-calendar-check-o"></i><span translate>{{'pointsOfSale.posInfo.schedule'}}</span>:</p>
        <h2>{{openHours}} - {{closeHours}}</h2>
    </ba-card>

  </div>
    <div class="row">
        <!-- <ba-card class="col-12 col-sm-6 " title="CK Filling (P.O.S)">
          <div class="row justify-content-center">
            <div class="col-6">
              <easy-pie-chart [chartData]="POSOOSChartData"></easy-pie-chart>
            </div>
          </div>
        </ba-card> -->
        <ba-card class="col-12 col-md-6" title="{{'pointsOfSale.posInfo.posOos'}}">

              <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-md-10 col-sm-8">
                  <easy-pie-chart [chartData]="POSOOSChartData"></easy-pie-chart>
                </div>
              </div>

        </ba-card>
        <ba-card class="col-12 col-md-6" title="{{'pointsOfSale.posInfo.posOos'}}">

              <div class="row justify-content-center">
                <div class="col-12 col-xl-6 col-md-10 col-sm-8">
                  <easy-pie-chart [chartData]="POSOOSChartData"></easy-pie-chart>
                </div>
              </div>

        </ba-card>
    </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item mb-1" *ngFor="let equipment of posData.EquipmentIds; let i = index" (click)="changeEquipmentInFocus(equipment)">
          <a [ngClass]="{ 'active': equipment === equipmentInFocus }" class="nav-link">{{i + 1}}</a>
        </li>
      </ul>
    </div>
  </div>


        <equipment-info *ngIf="equipmentInFocus > 0 && equipmentInitFlag" [equipmentId]="equipmentInFocus" [oosChartData]="equipmentOOSChartData"></equipment-info>
        <!-- <equipment-info-pusher *ngIf="equipmentInFocus > 0 && equipmentInitFlag" [equipmentId]="equipmentInFocus"></equipment-info> -->

        <!-- <angular2-grid></angular2-grid> -->


     <!-- <div class="col-12 col-sm-3">
      <ba-card *ngIf="equipmentInitFlag" title="{{'pointsOfSale.posInfo.equipmentInfo.oos'}}">
        <easy-pie-chart [chartData]="equipmentOOSChartData"></easy-pie-chart>
      </ba-card>
    </div>  -->

</div>
<div class="row">
  <div class="col-md-12">
    <ba-card *ngIf="equipmentInitFlag" title="{{'pointsOfSale.posInfo.equipmentInfo.sales'}}">
      <amchart [chartData]="salesChartData"></amchart>
    </ba-card>
  </div>
</div>

<div class="row" *ngIf="equipmentInitFlag">
  <div class="col-md-6">
      <ba-card title="{{'pointsOfSale.posInfo.equipmentInfo.productOosTable.title'}}">
        <div class="horizontal-scroll">
          <table class="table table-hover">
            <thead>
            <tr class="black-muted-bg">
               <th class="browser-icons"></th>
              <th translate>{{'pointsOfSale.posInfo.equipmentInfo.productOosTable.skuName'}}</th>

              <th class="table-arr"></th>
              <th class="align-right" translate>{{'pointsOfSale.posInfo.equipmentInfo.productOosTable.oosPercentage'}}</th>
              <th class="table-arr"></th>

            </tr>
            </thead>
            <tbody>
              <tr *ngIf="equipmentProductOOSTable.length === 0">
                <td colspan="2">No Data</td>
              </tr>
              <tr *ngFor="let tableData of equipmentProductOOSTable" class="no-top-border">
                <th class="browser-icons"></th>
               <th translate>{{tableData.SKUName}}</th>

               <th class="table-arr"></th>
               <th class="align-right" translate>{{tableData.OOSPercentage}}%</th>
               <th class="table-arr"></th>

              </tr>
            </tbody>
          </table>
        </div>
    </ba-card>
  </div>
  <div class="col-md-6">
      <ba-card title="{{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.title'}}">
        <div class="horizontal-scroll">
          <table class="table table-hover">
            <thead>
              <tr class="black-muted-bg">
                 <!-- <th class="browser-icons"></th>  -->
                <th translate>{{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.skuName'}}</th>
                <th class="align-right" translate>{{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.oosPeriod'}}</th>
                <!-- <th class="table-arr"></th> -->
                <th class="align-right" translate>{{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.potentialLoss'}}</th>
                <!-- <th class="table-arr"></th> -->
              </tr>
            </thead>
            <tbody>
            <tr class="no-top-border" *ngFor="let lossData of equipmentLossesDueToOOSTable">
              <!-- <td class="browser-icons"></td> -->
              <td>{{lossData.ShortSKUName}}</td>
              <td class="align-right">
                <div *ngIf="!lossData.isOngoing">
                  <span *ngIf="lossData.TimePeriodDays !== 0">{{lossData.TimePeriodDays}} {{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.days' | translate}}</span>
                  <span *ngIf="lossData.TimePeriodHours !== 0">{{lossData.TimePeriodHours}} {{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.hours' | translate}}</span>
                  <span *ngIf="lossData.TimePeriodMinutes !== 0">{{lossData.TimePeriodMinutes}} {{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.min' | translate}}</span>
                  <span >{{lossData.TimePeriodSeconds}} {{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.sec' | translate}}</span>
                </div>
                <span *ngIf="lossData.isOngoing">{{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.ongoing' | translate}} {{lossData.OOSStart | timespan}}</span>
                
              </td>
              <!-- <td class="table-arr"></td> -->
              <td class="align-right">
                <span *ngIf="!lossData.isOngoing">{{lossData.Losses | number}}$</span>
                <span *ngIf="lossData.isOngoing" translate>{{'pointsOfSale.posInfo.equipmentInfo.lossesDueToOosTable.na'}}</span>
              </td>
              <!-- <td class="table-arr"></td> -->
            </tr>
            </tbody>
          </table>
        </div>
    </ba-card>
  </div>
</div>
