.fa{
  margin-right: 0.5rem;
}
.col-12del5{
  flex: 0 0 calc(100%/5);
  max-width: calc(100%/5);
  padding-right: 15px;
padding-left: 15px;
}
.card{
   &.mb-0{
     .card{
       margin-bottom: 0!important;
     }
   }

}
