
<div class="row">
  <ba-card class="col-xlg-3 col-xl-3 col-lg-3 col-sm-12 col-12 text-center">

      <h1>6546</h1>
      <p>Sales</p>
  </ba-card>
  <ba-card class="col-xlg-3 col-xl-3 col-lg-3 col-sm-12 col-12 text-center">

    <h1>8%</h1>
    <p>OOS</p>
  </ba-card>
  <ba-card class="col-xlg-3 col-xl-3 col-lg-3 col-sm-12 col-12 text-center">

    <h1>534</h1>
    <p>OOS</p>
  </ba-card>
  <ba-card class="col-xlg-3 col-xl-3 col-lg-3 col-sm-12 col-12 text-center">

    <h1>5250$</h1>
    <p>Money</p>
  </ba-card>
</div>


<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-12 col-12" title="Top SKU OOS" nav-tabs="1">
      <ul class="nav nav-tabs ">
        <li class="nav-item">
          <a class="nav-link active">1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2</a>
        </li>
      </ul>
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ba-card>
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-12 col-12" title="TOP POS being in OOS">
      <ul class="nav nav-tabs">
        <li class="nav-item ">
          <a class="nav-link active">1</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link">2</a>
        </li>
      </ul>
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ba-card>
</div>
<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-12 col-12" title="Map with POS in OOS">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2</a>
        </li>
      </ul>
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ba-card>
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-12 col-12" title="Looses due to OOS in $ per sku">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2</a>
        </li>
      </ul>
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ba-card>
</div>
<div class="row">
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-12 col-12" title="Top best business developers">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2</a>
        </li>
      </ul>
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ba-card>
  <ba-card class="col-xlg-6 col-xl-6 col-lg-6 col-sm-12 col-12" title="TOP POS">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">2</a>
        </li>
      </ul>
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ba-card>
</div>
