
<div class="row">
  <ba-card class="col-md-6 col-lg-3 col-sm-12 col-12 text-center">

      <h1>6546</h1>
      <p>Sales</p>
  </ba-card>
  <ba-card class="col-md-6 col-lg-3 col-sm-12 col-12 text-center">

    <h1>8%</h1>
    <p>OOS</p>
  </ba-card>
  <ba-card class="col-md-6 col-lg-3 col-sm-12 col-12 text-center">

    <h1>534</h1>
    <p>OOS</p>
  </ba-card>
  <ba-card class="col-md-6 col-lg-3 col-sm-12 col-12 text-center">

    <h1>5250$</h1>
    <p>Money</p>
  </ba-card>
</div>


<div class="row">
  <ad-ba-card *ngIf="initFlag" class="col-xl-6 col-12" title="Top SKU OOS" [navTabs]="baCardTabs" [tabChangeCallback]="baCardTabChangeCallback">
      <amchart [chartData]="topSkuOosChart"></amchart>
  </ad-ba-card>
  <ad-ba-card *ngIf="initFlag" class="col-xl-6 col-12" title="TOP POS being in OOS" [navTabs]="baCardTabs" [tabChangeCallback]="baCardTabChangeCallback">

  </ad-ba-card>
</div>
<div class="row">
  <ad-ba-card *ngIf="initFlag" class="col-xl-6 col-12" title="Map with POS in OOS" [navTabs]="baCardTabs" [tabChangeCallback]="baCardTabChangeCallback">

      <!-- <daterangepicker [params]="daterangeParams" (dateChanged)="dateChangedHandler($event)"></daterangepicker> -->
  </ad-ba-card >
  <ad-ba-card *ngIf="initFlag" class="col-xl-6 col-12" title="Looses due to OOS in $ per sku" [navTabs]="baCardTabs" [tabChangeCallback]="baCardTabChangeCallback">
      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ad-ba-card >
</div>
<div class="row">
  <ad-ba-card *ngIf="initFlag" class="col-xl-6 col-12" title="Top best business developers" [navTabs]="baCardTabs" [tabChangeCallback]="baCardTabChangeCallback">

      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ad-ba-card >
  <ad-ba-card *ngIf="initFlag" class="col-xl-6 col-12" title="TOP POS" [navTabs]="baCardTabs" [tabChangeCallback]="baCardTabChangeCallback">

      <ol class="mt-2">
        <li>asdasdas</li>
          <li>asdasdas</li>
            <li>asdasdas</li>
      </ol>
  </ad-ba-card >
</div>
