<ba-card title="Button Dropdowns" baCardClass="with-scroll">
  <div class="row btns-row">
    <!-- <ng2-datepicker></ng2-datepicker> -->
  </div>
<div class="row btns-row">
  <div class="col-sm-4 col-6">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-default" ngbDropdownToggle>
        Default
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-6">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-default" ngbDropdownToggle>
        Default
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-6">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-default" ngbDropdownToggle>
        Default
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row btns-row mt-3 mb-5">
  <div class="col-sm-4 col-6">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-default" ngbDropdownToggle>
        Default
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4 col-6">
    <div class="btn-group" ngbDropdown>
      <button type="button" class="btn btn-default" ngbDropdownToggle>
        Default
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a href="#">Action</a></li>
        <li class="dropdown-item"><a href="#">Another action</a></li>
        <li class="dropdown-item"><a href="#">Something else here</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-item"><a href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>

</ba-card>
