<ba-card title="Фильтр">

<div class="row btns-row">
  <!-- <div class="col-sm-4 col-6">
     <daterangepicker></daterangepicker>
  </div> -->
  <div class="col-sm-6 col-6">
    <div class="form-group w-100">
                <label>Выбор Даты</label>
                <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                </select>
        </div>
        <!-- <daterangepicker [params]="daterangeParams" (dateChanged)="dateChangedHandler($event)"></daterangepicker> -->
  </div>
  <div class="col-sm-6 col-6">
    <div class="form-group w-100">
                <label>Торговые точки</label>
                <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                </select>
        </div>
  </div>
</div>
<div class="row btns-row ">
  <div class="col-sm-6 col-6">
    <div class="form-group w-100">
                <label>Марки ( SKU _ Stock Keeping unit )</label>
                <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                </select>
        </div>
  </div>
  <div class="col-sm-6 col-6">
    <div class="form-group w-100">
                <label>Выбор оборудование ( тип Холодильника - только Тип 750 )</label>
                <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                </select>
        </div>
  </div>

</div>
<div class="row btns-row ">
<div class="col-sm-6 col-6">
  <div class="form-group w-100">
              <label>Город Населенный Пункт ( City/Local ) </label>
              <select class="form-control" >
                  <option>1</option>
                  <option>2</option>
              </select>
      </div>
</div>
<div class="col-sm-6 col-6">
  <div class="form-group w-100">
              <label>Канал продаж ( Traditional Trade, Horeca, Retail Chain ) </label>
              <select class="form-control" >
                  <option>1</option>
                  <option>2</option>
              </select>
      </div>
</div>

</div>
<div class="row btns-row">

  <div class="col-sm-6 col-6">
    <div class="form-group w-100">
                <label>Выбор Торгового Представительства</label>
                <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                </select>
        </div>

  </div>
  <div class="col-sm-6 col-6">
    <div class="form-group w-100">
                <label>Выбор Сети</label>
                <select class="form-control" >
                    <option>Грин Хиллс – Куза Водэ 21</option>
                    <option>Грин Хиллс – Алеку Руссо 28</option>
                </select>
        </div>
  </div>
</div>
</ba-card>
<ba-card title="Типы отчётов">
<fieldset class="form-group">
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      OOS по количеству недопроданных штук
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option1" checked>
        OOS по сумме недопроданных товар - потенциали потери в деньгах за счёт OOS
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option1" checked>
      Продажи в пушерах ( Sales by pusher ) - продажи из каждого пушера
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option1" checked>
    Кол-во продаж ( штук ) / Открывание дверей
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5" value="option1" checked>
      Кол-во продаж детально / Открывание дверей
    </label>
  </div>
  <button type="button" class="btn btn-primary" >
    Сделать отчет
  </button>
</fieldset>
</ba-card>
