<agm-map [ngStyle]="{'height.px': mapData.height ? mapData.height : 375}" *ngIf="mapInit"
  [latitude]="mapData.center.lat"
  [longitude]="mapData.center.lng"
  [zoom]="targetMapData.zoom"
  [draggableCursor]="targetMapData.draggableCursor"
  [zoomControl]="targetMapData.zoomControl"
  [scrollwheel]="mapData.scrollwheel"
  (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let marker of mapData.markers"
      [latitude]="marker.coordinates.lat"
      [longitude]="marker.coordinates.lng"
      [title]="marker.title"
      [label]="marker.label"
      [markerDraggable]="marker.markerDraggable"
      [visible]="marker.visible"
      [opacity]="marker.opacity"
      [iconUrl]="marker.iconUrl"
      (markerClick)="markerClicked(marker.label, $event)">

        <agm-info-window >
          <span [routerLink]="marker.linkUrl ? (marker.linkUrlId ? [marker.linkUrl, marker.linkUrlId] : marker.linkUrl) : null" style="color: black; cursor: pointer">
            {{marker.infoWindowContent}}
          </span>
        </agm-info-window>

    </agm-marker>

</agm-map>
