<div class="row pie-charts old-alert">

  <ba-card *ngFor="let chart of charts" class=" d-flex col-xlg-2 col-lg-2 col-md-6 col-sm-12 col-12" [ngClass]="{ 'undefined-row': chart.isEmpty, 'empty-row': chart.stats === 0 }">

    <div *ngIf="!chart.isEmpty" class="pie-chart-item">
      <!-- <div class="group-chart" [attr.data-rel]="chart.color" [attr.data-percent]="chart.stats">
        <span class="percent"></span>
      </div> -->
      <ng2-progress-bar [value]="chart.stats" [max]="100"></ng2-progress-bar>
      <div class="mt-3">
        <p>Row {{chart.row}}</p>
        <div translate>{{ chart.description }}</div>
      </div>
      <!-- <i class="chart-icon fa fa-3x fa-{{ chart.icon }}"></i> -->
    </div>



    <div *ngIf="chart.isEmpty" class="pie-chart-item">
      <div class="description">
        <p>Row {{chart.row}}</p>
        <div translate>Empty Row</div>
      </div>
    </div>

  </ba-card>
</div>
