
<div class="row">
    <div class="col-md-3">

<div class="form-group">

            <label  translate>{{'sortButtons.sortBySelect'}}</label>
            <select class="form-control" [(ngModel)]="sortDirection" (change)="sortData()">
                <option value="asc" translate>{{'sortButtons.asc'}}</option>
                <option value="desc" translate>{{'sortButtons.desc'}}</option>
            </select>


    </div>
  </div>
</div>
<div class="row">
    <div class="com-md-12">
    </div>
</div>
<div *ngIf="initFlag" [attr.id]="chartName ? chartName : 'chartdiv'" [style.width.%]="100" [style.height.px]="500"></div>
