
<div class="row">
    <div class="col-md-3">
        <div class="input-group">
            <span class="input-group-addon" translate>{{'sortButtons.sortBySelect'}}</span>
            <select class="form-control" [(ngModel)]="sortDirection" (change)="sortData()">
                <option value="asc" translate>{{'sortButtons.asc'}}</option>
                <option value="desc" translate>{{'sortButtons.desc'}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="com-md-12">
    </div>
</div>
<div *ngIf="initFlag" id="chartdiv" [style.width.%]="100" [style.height.px]="500"></div>
