<ba-card title="Create Point of Sale">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputPOS">POS</label>
        <input type="text" class="form-control" id="inputPOS" placeholder="POS">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputPOSAddres">POS Addres</label>
        <input type="text" class="form-control" id="inputPOSAddres" placeholder="POS Addres">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputPOSPhone">POS Phone</label>
        <input type="email" class="form-control" id="inputPOSPhone" placeholder="POS Phone">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputContactPersonName">Contact Person Name</label>
        <input type="text" class="form-control" id="inputContactPersonName" placeholder="Contact Person Name">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputSchedule">Schedule</label>
        <input type="text" class="form-control" id="inputSchedule" placeholder="Schedule">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</ba-card>
<ba-card title="Create Item">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputModel">Model</label>
        <input type="text" class="form-control" id="inputModel" placeholder="Model">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputEquipmentType">Equipment Type</label>
        <input type="text" class="form-control" id="inputEquipmentType" placeholder="Equipment Type">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputTemperature">Temperature</label>
        <input type="email" class="form-control" id="inputTemperature" placeholder="Temperature">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="inputOpenCount">Open Count</label>
        <input type="text" class="form-control" id="inputOpenCount" placeholder="Open Count">
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <label for="inputLastPing">Last Ping</label>
        <input type="text" class="form-control" id="inputLastPing" placeholder="Last Ping">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</ba-card>
