<div class="row">
  <div class="col-md-2">
    <button class="btn btn-primary mb-3" routerLink="/pages/points-of-sale">Back</button>
  </div>
</div>
<div *ngIf="initFlag">
  <div class="row">
    <div class="col-md-12">
      <ba-card>
        <p>POS: {{posData.PointOfSaleName}}</p>
        <p>POS Address: {{posData.PointOfSaleAddress}}</p>
        <p>POS Telephone: {{posData.PointOfSaleTelephone}}</p>
        <p>Contact Person Name: {{posData.ContactPersonName}}</p>
        <p>Schedule: {{openHours}} - {{closeHours}}</p>
      </ba-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" *ngFor="let equipment of posData.EquipmentIds; let i = index" (click)="changeEquipmentInFocus(equipment)">
          <a [ngClass]="{ 'active': equipment === equipmentInFocus }" class="nav-link">{{i + 1}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9">

        <equipment-info *ngIf="equipmentInFocus > 0 && initFlag" [equipmentId]="equipmentInFocus"></equipment-info>
        
    </div>
    <div class="col-md-3 col-xl-3">
      <ba-card>
        <p>Out Of Stock</p>
        <easy-pie-chart [chartData]="OOSChartData"></easy-pie-chart>
      </ba-card>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ba-card>
      <amchart [chartData]="sampleChartData"></amchart>
    </ba-card>
  </div>
</div>
<div>
