<div class="input-group" daterangepicker (selected)="selectedDate($event, mainInput)"
            (cancelDaterangepicker)="calendarEventsHandler($event)"
            (applyDaterangepicker)="calendarEventsHandler($event)"
            (hideDaterangepicker)="calendarEventsHandler($event)"
            (showDaterangepicker)="calendarEventsHandler($event)"
            >
    <span class="form-control uneditable-input"  name="daterange" >
        {{ defaultDate.start | date:'M/dd/y' }} - {{ defaultDate.end| date:'M/dd/y' }}
    </span>

        <button class="btn btn-primary" ><i class="fa fa-calendar"></i></button>

</div>
