<div *ngIf="datesInitialized" class="input-group" daterangepicker (selected)="onDateSelect($event, mainInput)" [options]="daterangepickerOptions">
    <span *ngIf="isDateInputsVisible" class="form-control uneditable-input"  name="daterange" >
        {{ selectedDate.startDate | date:'dd.M.y' }} - {{ selectedDate.endDate | date:'dd.M.y' }}
    </span>

        <!-- <button class="btn btn-default" > -->
          <i class="fa fa-calendar fa"></i>
        <!-- </button> -->

</div>


<!-- (cancelDaterangepicker)="calendarEventsHandler($event)"
            (applyDaterangepicker)="calendarEventsHandler($event)"
            (hideDaterangepicker)="calendarEventsHandler($event)"
            (showDaterangepicker)="calendarEventsHandler($event)"

        datepicker events -->
