<div class="auth-main">
  <div class="auth-block" style="min-height: 422px">
    <img class="logo mb-5" width="80%" src="assets/img/logo_Shelfalytics.png"/>
    <!-- <h1 translate>{{'login.title'}}</h1> -->
    <!--<a routerLink="/register" class="auth-link" translate>{{'login.signup_link'}}</a>-->
    <span *ngIf="invalidData && !loadingFlag">Invalid User name or Password</span>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row"  *ngIf="!loadingFlag" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
        <div class="col-sm-12">
          <input [formControl]="username" type="text" class=" form-control" id="inputEmail3" placeholder="{{'login.email' | translate}}">
        </div>
      </div>
      <div class="form-group row"  *ngIf="!loadingFlag" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
        <div class="col-sm-12">
          <input [formControl]="password" type="password" class=" form-control" id="inputPassword3" placeholder="{{'login.password' | translate}}">
        </div>
      </div>
      <div  *ngIf="!loadingFlag" class="form-group row justify-content-center">

          <button [disabled]="!form.valid" type="submit" class="btn btn-auth col-sm-6" translate>{{'login.sign_in'}}</button>
          <!--<a routerLink="/login" class="forgot-pass" translate>{{'login.forgot_password'}}</a>-->
          
      </div>
    </form>

    <div *ngIf="loadingFlag" class="preloader-baCard" style="margin-top: 115px">
      <div></div>
    </div>
    <!--<div class="auth-sep"><span><span translate>{{'login.sign_from_app_text'}}</span></span></div>-->

    <!--<div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="{{'login.share_on_facebook' | translate}}"></i></li>
        <li><i class="socicon socicon-twitter" title="{{'login.share_on_twitter' | translate}}"></i></li>
        <li><i class="socicon socicon-google" title="{{'login.share_on_google_plus' | translate}}"></i></li>
      </ul>
    </div>-->
  </div>
</div>
